---

---

<div class="drawing">
  <img src="../assets/img/bird.svg" alt="" class="bird" />
  <svg
    width="161"
    height="10006"
    viewBox="0 0 161 10006"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden opacity-20 md:block lg:opacity-100"
  >
    <defs>
      <path
        id="svgPath"
        d="M15.5189 3C15.5189 131.823 74.4969 332.886 77.2585 461.5C84.0546 778.012 -11.9541 764.438 5.22885 1079C13.5098 1230.6 77.2585 1409.89 77.2585 1562.5C77.2585 1702.43 16.7652 1860.95 5.22912 1998.5C-8.35249 2160.44 90.7457 2333.47 77.2587 2495.5C64.2886 2651.32 5.22885 2934.18 5.22885 3092.5C5.22885 3263.07 54.9883 3301.08 78.116 3462C104.917 3648.47 8.30638 3834.43 5.22885 4032.5C2.04825 4237.2 116.856 4532.66 119.562 4737C124.433 5104.9 -2.42223 5376.32 5.22912 5744C11.0381 6023.15 153.408 6485.32 157.5 6764.5C162.167 7082.88 141.79 7388.71 122.706 7704.99C108.062 7947.67 69.7346 8191.82 56.6786 8435.5C44.2835 8666.84 56.6786 8897.18 56.6786 9130.3C56.6786 9428.32 72.5474 9709.11 92.6934 10003"
        stroke-linecap="round"
        stroke="#3CC199"
        stroke-width="4"></path>

      <mask id="mask1">
        <use id="mask" xlink:href="#svgPath"></use>
      </mask>
    </defs>
    <use
      xlink:href="#svgPath"
      stroke-dasharray="6 12"
      stroke="black"
      mask="url(#mask1)"></use>
  </svg>
</div>

<style>
  /* * {
    outline: red solid 1px;
  } */

  use {
    fill: none;
  }
  path {
    stroke-width: 5px;
    stroke-linecap: round;
  }
  #mask {
    stroke: white;
  }

  .drawing {
    /* display: none; */
    /* display: unset; */
    height: 100%;
  }
  .bird {
    width: 4vw;
    height: auto;
    position: absolute;
    top: calc(20vh);
    left: clamp(0rem, 5vw, 25vw);
    transform: translateY(-50%);
  }

  svg {
    position: absolute;
    top: 25vh;
    left: clamp(1rem, 5vw, 15vw);
    z-index: -5;
  }
</style>

<script>
  // Use a different approach for client-side only execution
  const initSVGAnimation = () => {
    const mask = document.getElementById('mask');
    if (!mask) return;

    const svgPath = document.getElementById(
      'svgPath',
    ) as unknown as SVGPathElement;
    if (!svgPath) return;

    const l = svgPath.getTotalLength();
    const dasharray = l;
    let dashoffset = l;

    mask.style.strokeDasharray = dasharray.toString();
    mask.style.strokeDashoffset = dashoffset.toString();

    window.addEventListener('scroll', () => {
      const top = document.body.scrollTop + document.documentElement.scrollTop;
      const sHeight = document.documentElement.scrollHeight;
      const cHeight = document.documentElement.clientHeight;

      const scrollie = l - (top * l) / (sHeight - cHeight);

      mask.style.strokeDashoffset = scrollie.toString();
    });
  };

  // Only execute in browser
  if (typeof window !== 'undefined') {
    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', initSVGAnimation);
    } else {
      initSVGAnimation();
    }
  }
</script>
