---
import Share from './Share.astro';
import LinkButton from './LinkButton.astro';
---

<footer class="w-full bg-gray-800">
  <div class="mx-auto flex flex-col flex-wrap gap-8 p-12">
    <div class="flex flex-wrap items-center justify-center gap-4">
      <Share class="footer" />
      <LinkButton
        btnlabel="Social Impact Fonds Rotterdam"
        btnlink="https://sifr.nl/"
      />
      <LinkButton
        btnlabel="Rotterdam de Boer op!"
        btnlink="https://www.rotterdamdeboerop.nl/"
      />
    </div>
    <p class="text-balance text-center text-xs text-white">
      Impact Fonds Duurzame Voedselketen Rotterdam is een initiatief van Social
      Impact Fonds Rotterdam en Rotterdam de Boer op!
    </p>
  </div>
</footer>
