---
// Styles
import "../styles/global.css";

// Data
const { title, subtitle } = Astro.props;
---

<header class="col-span-12">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
  >
    {title}
  </h1>
  <h2
    class="mb-4 text-4xl font-regular leading-none tracking-tight text-gray-700 md:text-5xl lg:text-6xl dark:text-white"
  >
    {subtitle}
  </h2>
</header>
