---
// Styles
import '../styles/global.css';
import Share from '../components/Share.astro';
// Data
const { title, subtitle } = Astro.props;
---

<header
  class="full-right hero overlay relative mb-12 grid grid-cols-subgrid content-center rounded-bl"
>
  <div class="title">
    <h1 class="text-white md:text-5xl lg:text-6xl">
      {title}
    </h1>
    <h2 class="text-white md:text-5xl lg:text-6xl">
      {subtitle}
    </h2>
  </div>
  <Share />
</header>

<style>
  .overlay {
    border-image: linear-gradient(hsla(0, 0%, 0%, 0.291), hsla(0, 0%, 0%, 0.46))
      fill 1;
  }

  .hero {
    background-image: url('/assets/img/img-tractor.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-block-size: calc(30vh + 10vw);
  }
</style>
