---
// Styles
import '../styles/global.css';
import Share from '../components/Share.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import ImageHero from '../assets/img/img-tractor.png';
import LinkButton from './LinkButton.astro';

// Data
const { title, subtitle } = Astro.props;
---

<header class="full-right relative mb-12 grid grid-cols-subgrid">
  <div
    class="hero grid grid-cols-subgrid content-center overflow-clip rounded-bl"
  >
    <div class="title">
      <Icon name="logo" class="responsive-icon block" />
      <h1 class="sr-only text-white md:text-5xl lg:text-6xl">
        {title}
      </h1>
      <h2 class="sr-only text-white md:text-5xl lg:text-6xl">
        {subtitle}
      </h2>
    </div>

    <Image
      src={ImageHero}
      widths={[240, 540, 720, ImageHero.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${ImageHero.width}px`}
      alt="Traktor in het het veld."
      class="absolute left-0 top-0 h-full w-full object-cover"
      loading="eager"
    />
  </div>
  <div class="buttons full-right flex items-center gap-4">
    <Share class="flex-shrink" />
    <LinkButton
      btnlabel="Social Impact Fonds Rotterdam"
      btnlink="https://sifr.nl/"
      class="hidden lg:inline-flex"
    />
    <LinkButton
      btnlabel="Rotterdam de Boer op!"
      btnlink="https://www.rotterdamdeboerop.nl/"
      class="hidden lg:inline-flex"
    />
  </div>
</header>

<style>
  .overlay {
    /* border-image: linear-gradient(hsla(0, 0%, 0%, 0.291), hsla(0, 0%, 0%, 0.46))
      fill 1; */
  }

  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    z-index: 999;
  }

  .hero {
    /* background-image: url('/assets/img/img-tractor.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    min-block-size: calc(30vh + 10vw);
    grid-column: inherit;
    grid-template-columns: subgrid;
    z-index: 1;
    position: relative;
  }

  .hero::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsla(0, 0%, 0%, 0.291), hsla(0, 0%, 0%, 0.5));
    z-index: 5;
  }

  .title {
    grid-column: content;
    z-index: 10;
  }

  .responsive-icon {
    width: 25vw;
    max-width: 400px;
    height: auto;
  }

  @media (max-width: 768px) {
    .responsive-icon {
      width: 50vw;
      max-width: 320px;
    }
  }
</style>
