---
// Styles
import '../styles/global.css';
import Share from '../components/Share.astro';
import { Icon } from 'astro-icon/components';
// Data
const { title, subtitle } = Astro.props;
---

<header class="full-right relative mb-12 grid grid-cols-subgrid">
  <div
    class="hero overlay grid grid-cols-subgrid content-center overflow-clip rounded-bl"
  >
    <div class="title">
      <Icon name="logo" size={400} class="block" />
      <h1 class="sr-only text-white md:text-5xl lg:text-6xl">
        {title}
      </h1>
      <h2 class="sr-only text-white md:text-5xl lg:text-6xl">
        {subtitle}
      </h2>
    </div>
  </div>
  <Share />
</header>

<style>
  .overlay {
    /* border-image: linear-gradient(hsla(0, 0%, 0%, 0.291), hsla(0, 0%, 0%, 0.46))
      fill 1; */
  }

  .hero {
    background-image: url('/assets/img/img-tractor.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-block-size: calc(30vh + 10vw);
    grid-column: inherit;
    grid-template-columns: subgrid;
    z-index: 1;
    position: relative;
  }

  .hero::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsla(0, 0%, 0%, 0.291), hsla(0, 0%, 0%, 0.5));
    z-index: 5;
  }

  .title {
    grid-column: content;
    z-index: 10;
  }

  .responsive-icon {
    width: 5vw; /* 10% van de viewport breedte */
    max-width: 400px; /* Maximale breedte van 50px */
    height: auto; /* Houd de aspect ratio vast */
  }

  @media (max-width: 768px) {
    .responsive-icon {
      width: 15vw; /* 15% van de viewport breedte op kleinere schermen */
      max-width: 40px; /* Maximale breedte van 40px op kleinere schermen */
    }
  }
</style>
