---
// Styles
import '../styles/global.css';

// Components
import { SEO } from 'astro-seo';

const { title, subtitle, description } = Astro.props;
let seo_title = title.concat(' ', subtitle);
---

<html lang="en">
  <head>
    <SEO
      title={seo_title}
      description={description}
      openGraph={{
        basic: {
          title: 'Impactfonds Duurzame Voedselketen Rotterdam (iFDV-Rotterdam)',
          type: 'Website',
          image:
            'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
        },
      }}
      twitter={{
        creator: '',
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: 'icon', href: '/favicon.ico' }],
        // extending the default meta tags
        meta: [
          {
            name: 'twitter:image',
            content:
              'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
          },
          {
            name: 'twitter:title',
            content:
              'Impactfonds Duurzame Voedselketen Rotterdam (iFDV-Rotterdam)',
          },
          {
            name: 'twitter:description',
            content:
              'Impactfonds duurzame voedselketen Rotterdam (IDVR) verstrekt impactleningen aan verwerkers, retailers en boeren die een duurzame voedselketen in groot Rotterdam mogelijk maken.',
          },
        ],
      }}
    />

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Impact Fonds Duurzame Voedselketen Rotterdam</title>
    <link rel="stylesheet" href="https://use.typekit.net/tmw4ewt.css" />
  </head>
  <body class="">
    <slot />
    <footer class="w-full bg-gray-800">
      <div class="container mx-auto max-w-screen-lg p-8">
        <p class="text-center text-xs text-white">
          Impact Fonds Duurzame Voedselketen Rotterdam is een initiatief van
          Social Impact Fonds Rotterdam en Rotterdam de Boer op!
        </p>
      </div>
    </footer>
  </body>
</html>
